%p
  Your balance:
  != zents(account.balance)

%p
  Full list of receipts:
%table
  %colgroup
    %col{style: 'width: 4em;'}
    %col{style: 'width: 3em;'}
    %col{style: 'width: 8em;'}
    %col
    %col{style: 'width: 12em;'}
  %thead
    %tr
      %th
        Id
      %th
        Job
      %th.right
        Zolds
      %th
        Summary
      %th
        Created
  %tbody
  - total = 0
  - max = 10
  - account.each(offset: offset) do |r|
    - total += 1
    - break if total > max
    %tr
      %td
        = "##{r.id}"
      %td
        - j = r.job_id
        - if j.nil?
          = '—'
        - else
          %a{href: iri.cut('/jobs').append(j)}
            = "##{j}"
      %td.right.ff
        != zents(r.zents)
      %td
        = r.summary
      %td
        = r.created.utc.iso8601
%p
  - unless offset.zero?
    %a{href: iri.del(:offset)}
      Back
  - if total > max
    %a{href: iri.over(offset: offset + max)}
      More
