%p
  Your balance:
  != zents(account.balance, digits: 2)

%p
  At the moment, it's impossible to add funds to the account,
  because the system is running in an experimental mode.
  Don't worry, we won't let you down:
  we will automatically top up your account by
  != zents(settings.donation_amount, digits: 2)
  when it runs out of funds (we will do it only once every
  = settings.donation_period
  days).

- bars = account.bars
- unless bars.empty?
  - bars.each { |b| b[:max] = b[:debit] > b[:credit] ? b[:debit] : b[:credit] }
  - max = bars.map { |b| b[:max] }.max
  %p
    Currently, we charge
    != zents(the_human.price * 1000 * 60 * 60, digits: 2)
    per hour of our server time, prorated to the millisecond.
    This is how much you've been spending, per week (YY.WW):
  %p
    %div.bars
      - bars.each do |b|
        %div.week
          %div.both
            %div.credit{style: "height: #{100 * b[:credit] / max}%", title: usd(-b[:credit])}
              != '&nbsp;'
            %div.debit{style: "height: #{100 * b[:debit] / max}%", title: usd(b[:debit])}
              != '&nbsp;'
          %div.legend{title: "Week ##{b[:week]}"}
            = b[:week]

%p
  Full list of receipts:
%table
  %colgroup
    -# ID
    %col{style: 'width: 4em;'}
    -# Job
    %col{style: 'width: 4em;'}
    -# Name
    %col{style: 'width: 8em;'}
    -# USD
    %col{style: 'width: 9em;'}
    -# Summary
    %col
    -# Created
    %col{style: 'width: 10em;'}
  %thead
    %tr
      %th
        = '#'
      %th
        Job
      %th
        Name
      %th.right
        USD
      %th
        Summary
      %th
        Created
  %tbody
  - paging(account, offset:) do |r|
    %tr
      - j = r.job_id
      %td
        = "##{r.id}"
      %td
        - if j.nil?
          = '—'
        - else
          %a{href: iri.cut('/jobs').append(j)}
            = "##{j}"
      %td.ff
        - unless j.nil?
          %a{href: iri.cut('/jobs').over(name: r.job_name)}<
            = r.job_name
      %td.right.ff
        != zents(r.zents)
      %td
        = r.summary
      %td
        != ago(r.created)
