%p
  Your balance:
  != zents(account.balance)

%p
  At the moment, it's impossible to add funds to the account,
  because the system is running in an experimental mode.
  However, we automatically top up your account by
  != zents(settings.donation_amount)
  if it doesn't have enough funds, but only once every
  = settings.donation_period
  days.

%p
  Full list of receipts:
%table
  %colgroup
    -# ID
    %col{style: 'width: 4em;'}
    -# Job
    %col{style: 'width: 4em;'}
    -# USD
    %col{style: 'width: 9em;'}
    -# Summary
    %col
    -# Created
    %col{style: 'width: 12em;'}
  %thead
    %tr
      %th.right
        = '#'
      %th.right
        Job
      %th.right
        USD
      %th
        Summary
      %th
        Created
  %tbody
  - total = 0
  - max = 10
  - account.each(offset: offset) do |r|
    - total += 1
    - break if total > max
    %tr
      %td.right
        = "##{r.id}"
      %td.right
        - j = r.job_id
        - if j.nil?
          = '—'
        - else
          %a{href: iri.cut('/jobs').append(j)}
            = "##{j}"
      %td.right.ff
        != zents(r.zents)
      %td
        = r.summary
      %td
        != ago(r.created)
%p
  - unless offset.zero?
    %a{href: iri.del(:offset)}
      Back
  - if total > max
    %a{href: iri.over(offset: offset + max)}
      More
