!!! 5
%html
  %head
    %title
      = title
    %meta{charset:'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css', rel: 'stylesheet'}
    %link{href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css', rel: 'stylesheet'}
    %link{href: iri.cut('/css/main.css'), rel: 'stylesheet'}
    %link{rel: 'shortcut icon', href: iri.cut('/svg/logo.svg')}
    %script{src: 'https://code.jquery.com/jquery-3.3.1.min.js'}
    - if defined?(css)
      %link{href: iri.cut("/css/#{css}.css"), rel: 'stylesheet'}
  %body
    %section
      %header
        %nav
          %ul
            %li
              %a{href: iri.cut('/dash')}
                %img.logo{src: iri.cut('/svg/logo.svg'), alt: 'Logo'}
            %li
              %span{title: "Current user ##{the_human.id}"}
                = "@#{the_human.github}"
            != menu('/tokens', 'Tokens')
            != menu('/jobs', 'Jobs')
            != menu('/secrets', 'Secrets')
            != menu('/valves', 'Valves')
            != menu('/account', 'Account')
            != menu('/locks', 'Locks')
            - if the_human.admin?
              != menu('/push', 'Push')
              != menu('/sql', 'SQL')
              != menu('/gift', 'Gift')
            != menu('/logout', 'Logout')
      %article
        - if defined?(flash_msg) && !flash_msg.empty?
          %p{style: 'background-color:' + flash_color + ';color:white;padding:.1em .5em;border-radius:4px;width:100%;'}
            = flash_msg
        - balance = the_human.account.balance
        - if balance.negative?
          %p.firebrick
            Since your balance is negative
            != "(#{zents(balance)})"
            no more jobs will be accepted.
            Please, contact us
            = ' '
            %a{href: 'https://t.me/zerocracy'}>= 'in Telegram'
            , we'll find a way to give you some funds.
        != yield
      %footer
        %nav
          %ul{style: 'font-family: monospace;'}
            %li
              %span{title: 'Currently deployed version'}
                = Baza::VERSION
            %li{title: 'How many seconds it took to build this page'}
              = format('%.3f', Time.now - http_start)
            %li{title: 'The version of Ruby on the server'}
              = "rb:#{RUBY_VERSION}"
            %li{title: 'The version of PostgreSQL server and the size of the DB'}
              = "pg:#{settings.pgsql.version}/#{db_size}"
            %li{title: 'Your visible IP address'}
              = request.ip
          - if the_human.admin?
            %ul{style: 'font-family: monospace;'}
              %li
                %span{title: 'Pipeline status'}
                  != footer_status('pipeline')
              %li
                %span{title: 'GC status'}
                  != footer_status('gc')
              %li
                %span{title: 'Donations status'}
                  != footer_status('donations')
              %li
                %span{title: 'Telegram bot status'}
                  != footer_status('tbot')
