!!! 5
%html
  %head
    %title
      = title
    %meta{charset:'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css', rel: 'stylesheet'}
    %link{href: iri.cut('/css/main.css'), rel: 'stylesheet'}
    %link{rel: 'shortcut icon', href: iri.cut('/svg/logo.svg')}
    :css
      section { width: 100%; }
      article { border: none; }
      .logo { width: 64px; height: 64px; }
  %body
    %section
      %header
        %p
          %a{href: iri.cut('/')}
            %img.logo{src: iri.cut('/svg/logo.svg'), alt: 'Logo'}
      %article
        != yield
      %footer
        %p
          &copy;
          = '2009' + '&ndash;' + Time.now.strftime('%Y')
          %a{href: 'https://www.zerocracy.com'} Zerocracy
        %p
          %span{title: 'Currently deployed version'}
            = "#{Baza::VERSION}"
