!!! 5
%html
  %head
    %title
      = title
    %meta{charset:'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css', rel: 'stylesheet'}
    %link{href: iri.cut('/css/main.css'), rel: 'stylesheet'}
    %link{rel: 'shortcut icon', href: iri.cut('/svg/logo.svg')}
    :css
      * { font-family: monospace; font-size: 20px; }
      section { width: 100%; margin: 0; }
      article { border: none; }
      article, header { padding: 0; }
      header nav ul { text-align: left; }
      .logo { width: 64px; height: 64px; }
  %body
    %section
      %header
        %nav
          %ul
            %li
              %a{href: iri.cut('/dash')}
                %img.logo{src: iri.cut('/svg/logo.svg'), alt: 'Logo'}
            %li
              %span{title: "Current user ##{the_human.id}"}
                = "@#{the_human.github}"
            %li
              %a{href: iri.cut('/tokens')}
                Tokens
            %li
              %a{href: iri.cut('/jobs')}
                Jobs
            %li
              %a{href: iri.cut('/push')}
                Push
            %li
              %a{href: iri.cut('/sql')}
                SQL
            %li
              %span{title: 'Currently deployed version'}
                = Baza::VERSION
            %li
              %a{href: iri.cut('/logout')}
                Logout
      %article
        - if defined?(flash_msg) && !flash_msg.empty?
          %p{style: 'background-color:' + flash_color + ';color:white;padding:.1em .5em;border-radius:4px;width:100%;'}
            = flash_msg
        != yield
