!!! 5
%html{ lang: 'en-US' }
  %head
    %title
      = title
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'keywords', content: 'Zerocracy, Zerocrat, AI, Project Management, Management Robotization' }
    %meta{ name: 'description', content: 'Zerocracy: A Project Manager that Never Sleeps' }
    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css', rel: 'stylesheet' }
    %link{ href: 'https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css', rel: 'stylesheet' }
    %link{ href: 'https://cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css', rel: 'stylesheet' }
    %link{ rel: 'shortcut icon', href: iri.cut('/svg/logo.svg') }
    %link{ href: iri.cut('/css/front.css'), rel: 'stylesheet' }
  %body
    .outer
      %div
        %div
          %section
            %header
              %nav
                %ul
                  %li
                    %a{ href: '/' }
                      %img.logo{ src: iri.cut('/svg/logo.svg'), alt: 'Logo' }
            %article
              - if defined?(flash_msg) && !flash_msg.empty?
                %p.flash{ style: "background-color:#{flash_color};" }
                  = flash_msg
              != yield
            %footer
              %nav
                %ul
                  %li
                    %a{ href: Baza::Features::TESTS ? iri.cut('/fake-login') : github_login_link }
                      Start
              %nav
                %ul.smaller
                  %li
                    != "&#169; 2009&#8211;#{Time.now.strftime('%Y')}"
                  %li
                    %a{ href: iri.cut('/terms') }
                      Terms
                  %li
                    %a{ href: iri.cut('/how-it-works') }
                      How It Works
                  %li{ title: 'Currently deployed version' }
                    = Baza::VERSION
              %nav
                %ul.larger
                  %li
                    %a{ href: 'https://github.com/zerocracy/' }
                      %i.fa-brands.fa-github
                  %li
                    %a{ href: 'https://www.linkedin.com/company/zerocracy/' }
                      %i.fa-brands.fa-linkedin
                  %li
                    %a{ href: 'https://t.me/zerocracy' }
                      %i.fa-brands.fa-telegram
                  %li
                    %a{ href: 'mailto:team@zerocracy.com' }
                      %i.fa-solid.fa-envelope
