!!! 5
%html
  %head
    %title
      = title
    %meta{charset:'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'keywords', content: 'Zerocracy, Zerocrat, AI, Project Management, Management Robotization'}
    %meta{name: 'description', content: 'Zerocrat: A Project Manager that Never Sleeps'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css', rel: 'stylesheet'}
    %link{rel: 'shortcut icon', href: iri.cut('/svg/logo.svg')}
    :css
      .logo { width: 128px; height: 128px; }
      section { width: 40em; }
      article { border: none; }
      header, footer, article { text-align: center; padding-top: .5em; padding-bottom: .5em; }
  %body
    %section
      %header
        %nav
          %ul
            %li
              %a{href: '/'}
                %img.logo{src: iri.cut('/svg/logo.svg'), alt: 'Logo'}
      %article
        != yield
      %footer
        %nav
          %ul
            %li
              %a{href: github_login_link}
                Start
        %nav
          %ul.smaller
            %li
              &copy;
              != '2009' + '&ndash;' + Time.now.strftime('%Y')
            %li
              %a{href: 'mailto:team@zerocracy.com'}
                team@zerocracy.com
            %li{title: 'Currently deployed version'}
              = "#{Baza::VERSION}"
        %nav
          %ul.larger
            %li
              %a{href: 'https://github.com/zerocracy/'}
                %img.logo{style: 'width: 1em; height: 1em;', src: iri.cut('/svg/github.svg'), alt: 'GitHub logo'}
            %li
              %a{href: 'https://t.me/zerocracy'}
                %img.logo{style: 'width: 1em; height: 1em;', src: iri.cut('/svg/telegram.svg'), alt: 'Telegram logo'}
