.columns
  %p
    Invocation ID:
    %br
    %span.ff
      = "##{invocation[:id]}"

  %p
    Swarm:
    %br
    %a{ href: iri.cut('/swarms').append(invocation[:swarm_id]) }
      = invocation[:swarm]

  %p
    Code:
    %br
    %span.ff
      = "##{invocation[:code]}"

  %p
    Job:
    %br
    %a{ href: iri.cut('/jobs').append(invocation[:job]) }
      = "##{invocation[:job]}"
    %br
    %span.ff
      = invocation[:name]

  %p
    Created on:
    %br
    != ago(invocation[:created])

%h2
  Stdout:
%pre= invocation[:stdout]
