%p
  Invocations:

%table
  %colgroup
    -# ID
    %col{ style: 'width: 5em;' }
    -# Swarm
    %col{ style: 'width: 10em;' }
    -# Job ID
    %col{ style: 'width: 5em;' }
    -# Job Name
    %col{ style: 'width: 12em;' }
    -# Code
    %col{ style: 'width: 4em;' }
    -# Stdout
    %col
    -# Created
    %col{ style: 'width: 10em;' }
  %thead
    %tr
      %th
        = '#'
      %th
        Swarm
      %th
        Job
      %th
        Name
      %th
        Code
      %th
        Stdout
      %th
        Created
  %tbody
  - paging(invocations, 10, offset:) do |i|
    %tr
      %td.ff
        = "##{i[:id]}"
      %td
        %a{ href: iri.cut('/swarms') }<
          = i[:swarm]
      %td
        - unless i[:job].nil?
          %a{ href: iri.cut('/jobs').append(i[:job]) }
            = "##{i[:job]}"
      %td
        - unless i[:name].nil?
          %a{ href: iri.over(name: i[:name]) }<
            = i[:name]
      %td.ff
        - if i[:code].zero?
          %i.fa-regular.fa-thumbs-up.good
        - else
          %span.bad
            = i[:code]
          %i.fa-solid.fa-triangle-exclamation.bad
      %td
        != snippet(i[:stdout])
      %td
        != ago(i[:created])
