%p
  The swarm
  %span.ff<
    = invocations.swarm.name
  = "(##{invocations.swarm.id})"
  has the following invocations:
%table
  %colgroup
    -# ID
    %col{style: 'width: 4em;'}
    -# Stdout
    %col
    -# Created
    %col{style: 'width: 10em;'}
  %thead
    %tr
      %th
        = '#'
      %th
        Stdout
      %th
        Created
  %tbody
  - paging(invocations, offset:) do |i|
    %tr
      %td.ff
        = "##{i[:id]}"
      %td
        != snippet(i[:stdout])
      %td
        != ago(i[:created])
