%p
  The swarm
  %span.ff<
    = invocations.swarm.name
  = "(##{invocations.swarm.id})"
  has the following invocations:
%table
  %colgroup
    -# ID
    %col{style: 'width: 5em;'}
    -# Job ID
    %col{style: 'width: 5em;'}
    -# Code
    %col{style: 'width: 4em;'}
    -# Stdout
    %col
    -# Created
    %col{style: 'width: 10em;'}
  %thead
    %tr
      %th
        = '#'
      %th
        Job
      %th
        Code
      %th
        Stdout
      %th
        Created
  %tbody
  - paging(invocations, offset:) do |i|
    %tr
      %td.ff
        = "##{i[:id]}"
      %td
        - unless [:job].nil?
          %a{href: iri.cut('/jobs').append(i[:job])}
            = "##{i[:job]}"
      %td.ff
        - if i[:code].zero?
          %i.fa-regular.fa-thumbs-up.good
        - else
          %span.bad
            = i[:code]
          %i.fa-solid.fa-triangle-exclamation.bad
      %td
        != snippet(i[:stdout])
      %td
        != ago(i[:created])
