%nav
  %ul{style: 'text-align: left'}
    - unless job.expired?
      %li
        %a{href: iri.cut('/jobs').append(job.id).append('expire'), onclick: "return confirm('If you expire this job, there will no way to return its data back. Are you sure want to proceed?')"}
          Expire!

%div{'style' => 'column-count:3'}
  %p
    ID:
    %br
    %span.ff
      = "##{job.id}"

  %p
    Name:
    %br
    %a.ff{href: iri.over(name: job.name)}
      = job.name

  %p
    Token:
    %br
    %a{href: iri.cut('/tokens')}
      %span.ff
        = job.token.name

  %p
    Created:
    %br
    != ago(job.created)

  %p
    User-Agent:
    %br
    %span.ff
      = job.agent

  %p
    Lock:
    %br
    - if job.when_locked.nil?
      None
    - else
      %i.fa-solid.fa-lock
      != ago(job.when_locked)

  %p
    Errors:
    %br
    - if job.errors.zero?
      %span.darkgreen
        None
    - else
      %i.fa-regular.fa-triangle-exclamation
      %span.darkred
        = job.errors

  %p
    Expired:
    %br
    - if job.expired?
      %span.orange
        - if job.finished?
          Yes
        - else
          Still running
    - else
      Nope

  - unless job.finished?
    %p
      Finished:
      %br
      %span.darkred
        Not yet

  - unless job.expired?
    %p
      Input:
      %br
      %a{href: iri.cut('/inspect').append("#{job.id}.fb")}= 'Download'
      != "(#{bytes(job.size)})"
      = '|'
      %a{href: iri.cut('/jobs').append(job.id).append('input.html')}= 'HTML'

  - if job.finished?
    - r = job.result
    %p
      Finished:
      %br
      != ago(r.created)
    %p
      Exit code:
      %br
      - if r.exit.zero?
        %i.fa-regular.fa-thumbs-up
      %span.ff
        = r.exit
    %p
      Duration:
      %br
      = "#{r.msec}ms"
    - if r.exit.zero? && !job.expired?
      %p
        Output:
        %br
        %a{href: iri.cut('/pull').append("#{job.id}.fb")}= 'Download'
        != "(#{bytes(r.size)})"
        = '|'
        %a{href: iri.cut('/jobs').append(job.id).append('output.html')}= 'HTML'
      %p
        Output Errors:
        %br
        = r.errors

- if job.finished?
  %p
    Stdout:
    %br
    %pre= r.stdout
