%nav
  %ul{style: 'text-align: left'}
    - unless job.expired?
      %li
        %a{href: iri.cut('/jobs').append(job.id).append('expire'), onclick: "return confirm('If you expire this job, there will no way to return its data back. Are you sure want to proceed?')"}
          Expire!

%div.columns
  %p
    ID:
    %br
    %span.ff
      = "##{job.id}"

  %p
    Name:
    %br
    %a.ff{href: iri.over(name: job.name)}
      = job.name

  %p
    Token:
    %br
    %a{href: iri.cut('/tokens')}
      %span.ff
        = job.token.name

  %p
    Created:
    %br
    != ago(job.created)

  %p
    User-Agent:
    %br
    %span.ff
      != largetext(job.agent)

  - if_meta(job, 'workflow_url') do |url|
    %p
      GitHub workflow:
      %br
      = url.split('/')[-1]
      %a.ico{href: workflow_url, title: "Click here to see the workflow in GitHub"}
        %i.fa-brands.fa-github

  %p
    Meta:
    %br
    - if job.metas.empty?
      None
    - else
      - job.metas.each do |m|
        - (k, v) = m.split(':', 2)
        %span.ff{style: 'margin-right: 2em;'}
          %i.fa-solid.fa-thumbtack
          - if v.nil?
            != largetext(m)
          - else
            %span.teal<>
              != largetext(k)
            %span<> :
            %span<>
            != largetext(v)

  %p
    Taken:
    %br
    - if job.taken.nil?
      %span.darkred
        Not yet
    - else
      %span.ff
        != largetext(job.taken)

  %p
    Lock:
    %br
    - if job.when_locked.nil?
      None
    - else
      %a.ico{href: iri.cut('/locks'), title: "The job was locked #{job.when_locked.ago} ago, click to unlock"}
        %i.fa-solid.fa-lock
      != ago(job.when_locked)
      - if job.lock_owner.start_with?('http')
        %a{href: job.lock_owner}
          %i.fa-solid.fa-link

  %p
    Errors:
    %br
    - if job.errors.zero?
      %span.darkgreen
        None
    - else
      %i.fa-solid.fa-triangle-exclamation.darkred{title: 'Find the "judges-summary" fact in the HTML, the error are there'}
      %span.darkred
        = job.errors

  %p
    Expired:
    %br
    - if job.expired?
      %span.orange
        - if job.finished?
          Yes
        - else
          Still running
    - else
      Nope

  - unless job.finished?
    %p
      Finished:
      %br
      %span.darkred
        Not yet

  - unless job.expired?
    %p
      Input:
      %br
      %a{href: iri.cut('/inspect').append("#{job.id}.fb")}= 'Download'
      != "(#{bytes(job.size)})"
      = '|'
      %a{href: iri.cut('/jobs').append(job.id).append('input.html')}= 'HTML'

  - if job.finished?
    - r = job.result
    %p
      Finished:
      %br
      != ago(r.created)
    %p
      Exit code:
      %br
      - if r.exit.zero?
        %i.fa-regular.fa-thumbs-up
      %span.ff
        = r.exit
    %p
      Duration:
      %br
      = "#{r.msec}ms"
    - if r.exit.zero? && !job.expired?
      %p
        Output:
        %br
        %a{href: iri.cut('/pull').append("#{job.id}.fb")}= 'Download'
        != "(#{bytes(r.size)})"
        = '|'
        %a{href: iri.cut('/jobs').append(job.id).append('output.html')}= 'HTML'
      %p
        Output Errors:
        %br
        - if r.errors.zero?
          %span.darkgreen
            None
        - else
          %i.fa-solid.fa-triangle-exclamation.darkred{title: 'Find the "judges-summary" fact in the HTML, the error are there'}
          %span.darkred
            = r.errors

- if job.finished?
  %p
    Stdout:
    %br
    %pre= r.stdout
