%p
  ID:
  = "##{job.id}"

- if job.expired?
  %p.orange
    Expired:
    = job.expired.utc.iso8601

%p
  Name:
  = job.name

%p
  Token:
  = job.token.name

%p
  Created on:
  = job.created.utc.iso8601

- unless job.expired?
  %p
    Input:
    %a{href: iri.cut('/inspect').append("#{job.id}.fb")}
      download

- if job.finished?
  - r = job.result
  %p
    Finished on:
    = r.created.utc.iso8601
  %p
    Exit code:
    = r.exit
  %p
    Duration:
    = "#{r.msec}ms"
  - if r.exit.zero? && !job.expired?
    %p
      Output:
      %a{href: iri.cut('/pull').append("#{job.id}.fb")}
        download
  %p
    Stdout:
    %pre= r.stdout
- else
  %p.darkred
    Not yet finished
