%p
  ID:
  = "##{job.id}"

%p
  Created on:
  = job.created.utc.iso8601

%p
  Finished:
  - if job.finished?
    Yes
  - else
    Not yet

- if job.finished?
  - r = job.result
  %p
    Finished on:
    = r.created.utc.iso8601
  %p
    Exit code:
    = r.exit
  %p
    Milliseconds:
    = r.msec
  %p
    Stdout:
    %pre= r.stdout
