- if jobs.empty?
  %p
    There are no jobs yet.
    Once you configure the
    != href('https://github.com/zerocracy/judges-action', 'zerocracy/judges-action')
    plugin in one of your GitHub repositories and it will start working,
    the jobs will start showing up at this page.
- else
  %p
    The jobs you see at this page are posted by the
    != href('https://github.com/zerocracy/judges-action', 'zerocracy/judges-action')
    plugin.
    Normally, there is no need to touch them, the process is fully automated.
    You most probably won't need them ever, but still, please keep in mind
    that we automatically delete overwritten factbases that are older than 90 days.
  %table
    %colgroup
      %col{style: 'width: 4em;'}
      %col{style: 'width: 3em;'}
      %col
      %col
      %col{style: 'width: 12em;'}
      %col{style: 'width: 3em;'}
      %col{style: 'width: 4em;'}
      %col{style: 'width: 3em;'}
      %col{style: 'width: 3em;'}
    %thead
      %tr
        %th.right
        %th.center
          In
        %th
          Name
        %th
          Token
        %th
          Started
        %th
          Code
        %th.right
          Time
        %th.center
          Log
        %th.center
          Out
    %tbody
    - total = 0
    - max = 10
    - jobs.each(offset: offset, name: name) do |j|
      - total += 1
      - break if total > max
      %tr
        %td.right
          %a{href: iri.cut('/jobs').append(j.id)}
            = "##{j.id}"
        %td.center
          - unless j.expired?
            %a{href: iri.cut('/inspect').append("#{j.id}.fb")}
              ðŸ“¦
        %td.ff
          %a{href: iri.over(name: j.name)}
            = j.name
        %td
          = j.token.name
        %td
          != ago(j.created)
        - if j.finished?
          %td
            - if j.result.exit.zero?
              ðŸ‘ðŸ»
            - else
              %span.darkred
                = j.result.exit
          %td.right.ff
            = msec(j.result.msec)
          - if j.expired?
            %td.center.orange{colspan: 2}
              Expired
          - else
            %td.center.ff
              %a{href: iri.cut('/stdout').append("#{j.id}.txt")}> ðŸ“ƒ
            %td.center
              - if j.result.exit.zero?
                %a{href: iri.cut('/pull').append("#{j.id}.fb")}
                  ðŸ“¦
        - else
          %td.center.orange{colspan: 4}
            In progress...
  %p
    - unless offset.zero?
      %a{href: iri.del(:offset)}
        Back
    - if total > max
      %a{href: iri.over(offset: offset + max)}
        More
