- if jobs.empty?
  %p
    There are no jobs yet.
    Once you configure the
    != href('https://github.com/zerocracy/judges-action', 'zerocracy/judges-action')
    plugin in one of your GitHub repositories and it will start working,
    the jobs will start showing up at this page.
- else
  %p
    The jobs you see at this page are posted by the
    != href('https://github.com/zerocracy/judges-action', 'zerocracy/judges-action')
    plugin.
    Normally, there is no need to interact with them, as the process is fully automated.
    You most likely won't ever need them, but please keep in mind
    that we automatically delete overwritten factbases that are older than
    = settings.expiration_days
    days.
  %table
    %colgroup
      -# ID
      %col{style: 'width: 4em;'}
      -# In
      %col{style: 'width: 4em;'}
      -# Name
      %col
      -# Lock
      %col{style: 'width: 5em;'}
      -# Token
      %col{style: 'width: 20em;'}
      -# Started
      %col{style: 'width: 9em;'}
      -# Code
      %col{style: 'width: 4em;'}
      -# Time
      %col{style: 'width: 4em;'}
      -# Log
      %col{style: 'width: 3em;'}
      -# Out
      %col{style: 'width: 4em;'}
    %thead
      %tr
        %th
          = '#'
        %th
          In
        %th
          Name
        %th
          Lock
        %th
          Token
        %th
          Started
        %th
          Code
        %th.right
          Time
        %th.center
          Log
        %th
          Out
    %tbody
    - total = 0
    - max = 10
    - jobs.each(offset: offset, name: name) do |j|
      - total += 1
      - break if total > max
      %tr
        %td
          %a{href: iri.cut('/jobs').append(j.id)}
            = "##{j.id}"
        %td
          - unless j.expired?
            %a.ico{href: iri.cut('/inspect').append("#{j.id}.fb"), title: "Click here to download the binary Factbase file (#{bytes(j.size)})"}
              %i.fa-solid.fa-box-archive
          - if j.errors.positive?
            %span{title: "#{j.errors} error(s) in the 'judges-summary' fact, before processing"}
              %i.fa-solid.fa-triangle-exclamation.bad
        %td.ff
          %a{href: iri.over(name: j.name)}<
            = j.name
          - if_meta(j, 'vitals_url') do |url|
            %a.ico{href: url, title: "Click here to open the published vitals report"}
              %i.fa-solid.fa-list
          - if_meta(j, 'workflow_url') do |url|
            %a.ico{href: url, title: "Click here to see the workflow in GitHub"}
              %i.fa-brands.fa-github
          - if_meta(j, 'duration') do |sec|
            %span.gray{title: 'How long it took to update the factbase'}
              = "#{sec}s"
        %td.ff
          - unless j.when_locked.nil?
            %a.ico{href: iri.cut('/locks'), title: "The job was locked #{j.when_locked.ago} ago, click to unlock"}
              %i.fa-solid.fa-lock
            - if j.when_locked < Time.now - (60 * 60)
              %span{title: 'It is locked for too long, something is wrong'}
                %i.fa-solid.fa-triangle-exclamation.bad
            - if j.lock_owner.start_with?('http')
              %a{href: j.lock_owner}
                %i.fa-solid.fa-link
        %td.ff
          = j.token.name
        %td
          != ago(j.created)
        - if j.finished?
          %td
            - if j.result.exit.zero?
              %i.fa-regular.fa-thumbs-up.good
            - else
              %span.bad
                = format('%03d', j.result.exit)
          %td.right.ff
            = msec(j.result.msec)
          - if j.expired?
            %td.center.orange{colspan: 2}
              Expired
          - else
            %td.center.ff
              %a.ico{href: iri.cut('/stdout').append("#{j.id}.txt"), title: 'See the full stdout'}
                %i.fa-regular.fa-note-sticky
            %td
              - if j.result.exit.zero?
                %a.ico{href: iri.cut('/pull').append("#{j.id}.fb"), title: "Click here to download the binary Factbase file (#{bytes(j.result.size)})"}
                  %i.fa-solid.fa-box-archive
              - if j.result.errors&.positive?
                %span{title: "#{j.result.errors} error(s) in the 'judges-summary' fact, after processing"}
                  %i.fa-solid.fa-triangle-exclamation.bad
        - elsif j.expired?
          %td.center.orange{colspan: 5}
            Never finished
        - elsif j.taken.nil?
          %td.center.orange{colspan: 5}
            Waiting...
        - else
          %td.center.orange{colspan: 5}
            In progress...
  %p
    - unless offset.zero?
      %a{href: iri.del(:offset)}<
        Back
    - if total > max
      %a{href: iri.over(offset: offset + max)}<
        More
