- if jobs.empty?
  %p
    No jobs yet.
- else
  %p
    Full list of jobs:
  %table
    %thead
      %tr
        %th
          Id
        %th
          Name
        %th
          Started
        %th
          Finished?
        %th
          Result
    %tbody
    - jobs.each do |j|
      %tr
        %td
          %a{href: iri.cut('/jobs').append(j.id)}
            = j.id
        %td
          %code
            = j.name
        %td
          = j.created.utc.iso8601
        %td
          - if j.finished?
            Yes
          - else
            No
        %td
          - if j.finished?
            = "Exit:#{j.result.exit}"
            = ' | '
            %a{href: iri.cut('/stdout').append("#{j.id}.txt")}> stdout
            = ' | '
            %a{href: iri.cut('/pull').append("#{j.id}.fb")}
              = "#{j.name}.fb"
