- if jobs.empty?
  %p
    No jobs yet.
- else
  %p
    Full list of jobs:
  %table
    %colgroup
      %col{style: 'width: 4em;'}
      %col{style: 'width: 3em;'}
      %col
      %col
      %col{style: 'width: 12em;'}
      %col{style: 'width: 6em;'}
      %col{style: 'width: 3em;'}
      %col{style: 'width: 3em;'}
      %col{style: 'width: 3em;'}
      %col{style: 'width: 3em;'}
    %thead
      %tr
        %th.right
          Id
        %th.center
          In
        %th
          Name
        %th
          Token
        %th
          Started
        %th
          Finished?
        %th
          Code
        %th.right
          Msec
        %th.center
          Log
        %th.center
          Out
    %tbody
    - total = 0
    - max = 10
    - jobs.each(offset: offset, name: name) do |j|
      - total += 1
      - break if total > max
      %tr
        %td.right
          %a{href: iri.cut('/jobs').append(j.id)}
            = "##{j.id}"
        %td.center
          %a{href: iri.cut('/inspect').append("#{j.id}.fb")}
            📦
        %td
          %code
            %a{href: iri.over(name: j.name)}= j.name
        %td
          = j.token_name
        %td
          = j.created.utc.iso8601
        %td
          - if j.finished?
            %span.darkgreen Yes
          - else
            %span.darkred No
        %td
          - if j.finished?
            - if j.result.exit.zero?
              %span.darkgreen
                OK
            - else
              %span.darkred
                = j.result.exit
        %td.right
          - if j.finished?
            = j.result.msec
        %td.center
          - if j.finished?
            %a{href: iri.cut('/stdout').append("#{j.id}.txt")}> 📃
        %td.center
          - if j.finished?
            %a{href: iri.cut('/pull').append("#{j.id}.fb")}
              📦
  %p
    - unless offset.zero?
      %a{href: iri.del(:offset)}
        Back
    - if total > max
      %a{href: iri.over(offset: offset + max)}
        More
