- if jobs.empty?
  %p
    No jobs yet.
- else
  %p
    Full list of jobs:
  %table
    %thead
      %tr
        %th
          Id
        %th
          Name
        %th
          Input
        %th
          Started
        %th
          Finished?
        %th
          Result
    %tbody
    - total = 0
    - max = 10
    - jobs.each(offset: offset) do |j|
      - total += 1
      - break if total > max
      %tr
        %td
          %a{href: iri.cut('/jobs').append(j.id)}
            = "##{j.id}"
        %td
          %code
            = j.name
        %td
          %a{href: iri.cut('/inspect').append("#{j.id}.fb")}
            = "#{j.name}.fb"
        %td
          = j.created.utc.iso8601
        %td
          - if j.finished?
            Yes
          - else
            No
        %td
          - if j.finished?
            %span{style: "color: #{j.result.exit.zero? ? 'darkgreen' : 'darkred'}"}
              = "Exit:#{j.result.exit}"
            = ' | '
            %a{href: iri.cut('/stdout').append("#{j.id}.txt")}> stdout
            = ' | '
            %a{href: iri.cut('/pull').append("#{j.id}.fb")}
              = "#{j.name}.fb"
  %p
    - unless offset.zero?
      %a{href: iri.del(:offset)}
        Back
    - if total > max
      %a{href: iri.over(offset: offset + max)}
        More
