- if locks.empty?
  %p
    There are no locks yet.
- else
  %p
    These are the active locks:
  %table
    %colgroup
      %col{style: 'width: 3em;'}
      %col{style: 'width: 4em;'}
      %col
      %col{style: 'width: 6em;'}
    %thead
      %tr
        %th
          ID
        %th
          Name
        %th
          Owner
        %th
          Owner
    %tbody
    - locks.each do |lk|
      %tr
        %td.ff
          = "##{lk['id']}"
        %td.ff
          %a{href: iri.cut('/jobs').over(name: lk['name'])}
            = lk['name']
        %td.ff
          = lk['owner']
        %td
          != ago(Time.parse(lk['created']))
