- if locks.empty?
  %p
    There are no locks yet.
- else
  %p
    These are the active locks:
  %table
    %colgroup
      -# ID
      %col{style: 'width: 3em;'}
      -# Name
      %col{style: 'width: 20em;'}
      -# Owner
      %col
      -# Created
      %col{style: 'width: 10em;'}
      -# Commands
      %col{style: 'width: 3em;'}
    %thead
      %tr
        %th
          = '#'
        %th
          Name
        %th
          Owner
        %th
          Created
        %th
    %tbody
    - locks.each do |lk|
      %tr
        %td.ff
          = "##{lk[:id]}"
        %td.ff
          - if lk[:jobs].zero?
            = lk[:name]
            %i.fa-solid.fa-triangle-exclamation.bad{title: 'There is no job by this name, maybe a spelling error?'}
          - else
            %a{href: iri.cut('/jobs').over(name: lk[:name])}<
              = lk[:name]
        %td.ff
          != large_text(lk[:owner])
        %td
          != ago(lk[:created])
          - if lk[:created] < Time.now - 2 * 60 * 60
            %i.fa-solid.fa-triangle-exclamation.bad{title: 'The lock is too old, something is wrong (probably, you better delete it)'}
        %td
          %a.ico{href: iri.cut('/lock').append(lk[:id]).append('delete'), title: "Unlock (remove lock ##{lk[:id]})", onclick: "return confirm('Are you sure you want to remove lock ##{lk[:id]}?')"}
            %i.fa-solid.fa-unlock
