- if locks.empty?
  %p
    There are no locks yet.
- else
  %p
    These are the active locks:
  %table
    %colgroup
      -# ID
      %col{style: 'width: 3em;'}
      -# Unlock
      %col{style: 'width: 3em;'}
      -# Name
      %col{style: 'width: 4em;'}
      -# Owner
      %col
      -# Created
      %col{style: 'width: 6em;'}
    %thead
      %tr
        %th
          ID
        %th
        %th
          Name
        %th
          Owner
        %th
          Created
    %tbody
    - locks.each do |lk|
      %tr
        %td.ff
          = "##{lk['id']}"
        %td
          %a.ico{href: iri.cut('/unlock').append(lk['name']).add(owner: lk['owner']), title: 'Unlock (remove this lock)', onclick: "return confirm('Are you sure you want to remove this lock?')"}
            🔓
        %td.ff
          %a{href: iri.cut('/jobs').over(name: lk['name'])}
            = lk['name']
        %td.ff
          = lk['owner']
        %td
          != ago(Time.parse(lk['created']))
