- wn = releases.swarm.why_not
- if wn.nil?
  %p
    The swarm will soon be deployed.
- else
  %p
    The swarm won't be deployed any time soon:
    = wn.inspect

%p
  The swarm
  %span.ff
    = releases.swarm.name
  = "(##{releases.swarm.id})"
  has the following releases:
%table
  %colgroup
    -# ID
    %col{style: 'width: 4em;'}
    -# Head
    %col{style: 'width: 10em;'}
    -# Exit
    %col{style: 'width: 4em;'}
    -# Seconds
    %col{style: 'width: 5em;'}
    -# Tail
    %col
    -# Secret
    %col{style: 'width: 15em;'}
    -# Created
    %col{style: 'width: 10em;'}
    -# Commands
    %col{style: 'width: 6em;'}
  %thead
    %tr
      %th
        = '#'
      %th
        Head
      %th
        Exit
      %th
        Seconds
      %th
        Tail
      %th
        Secret
      %th
        Created
      %th
  %tbody
  - paging(releases, offset:) do |r|
    %tr
      %td.ff
        = "##{r[:id]}"
      - if r[:head].nil?
        %td.orange{colspan: 3}
          Not yet
      - else
        %td.ff
          %a{href: "https://github.com/#{releases.swarm.repository}/commit/#{r[:head]}"}<
            = r[:head][0..8]
        %td.ff.right
          - if r[:exit].zero?
            %i.fa-regular.fa-thumbs-up.good
          - else
            %span.bad
              = format('%03d', r[:exit])
            %i.fa-solid.fa-triangle-exclamation.bad{title: 'The swarm release finished with an error (see the log!)'}
        %td.ff.right
          = format('%d', r[:msec] / 1000)
      %td
        %i.fa-regular.fa-eye{onclick: "$(this).parent().find('pre').show();", title: 'Click here to see the full deployment log', style: 'cursor: pointer;'}
        %pre{style: 'display: none;'}<>
          = r[:tail]
      %td
        != secret(r[:secret])
      %td
        != ago(r[:created])
      %td
        %a.ico{href: iri.cut('/swarms').append(releases.swarm.id).append('releases').append(r[:id]).append('stop'), title: "Stop release ##{r[:id]}", onclick: "return confirm('Are you sure you want to stop the release ##{r[:id]}?')"}
          %i.fa-regular.fa-circle-stop
        %a.ico{href: iri.cut('/swarms').append(releases.swarm.id).append('releases').append(r[:id]).append('reset'), title: "Reset the head SHA of the release ##{r[:id]}", onclick: "return confirm('Are you sure you want to reset the head SHA of the release ##{r[:id]}?')"}
          %i.fa-solid.fa-lightbulb
