%p
  These are all releases:
%table
  %colgroup
    -# ID
    %col{style: 'width: 4em;'}
    -# Head
    %col{style: 'width: 10em;'}
    -# Exit
    %col{style: 'width: 3em;'}
    -# Msec
    %col{style: 'width: 3em;'}
    -# Tail
    %col
    -# Created
    %col{style: 'width: 10em;'}
  %thead
    %tr
      %th
        = '#'
      %th
        Head
      %th
        Code
      %th
        Msec
      %th
        Tail
      %th
        Created
  %tbody
  - paging(releases, offset:) do |r|
    %tr
      %td.ff
        = "##{r.id}"
      %td.ff
        = r[:head][0..8]
      %td.ff
        = r[:code]
      %td.ff
        = r[:msec]
      %td
        %i.fa-regular.fa-eye{onclick: "$(this).parent().parent().find('span').hide(); $(this).parent().parent().find('pre').show();", title: 'Click here to see the full deployment log', style: 'cursor: pointer;'}
        %pre{style: 'display: none;'}<>
          = r[:tail]
      %td
        != ago(r[:created])
