%form{method: 'post', action: iri.cut('/secrets/add')}
  %fieldset
    %input{ type: 'text', name: 'name', tabindex: 1, placeholder: 'Job name', size: 14, maxlength: 32, required: true }
    %input{ type: 'text', name: 'key', tabindex: 2, placeholder: 'Key, e.g. GITHUB_TOKEN', size: 25, maxlength: 64, required: true }
    %input{ type: 'text', name: 'value', tabindex: 3, placeholder: 'Value', size: 50, required: true }
    %input{ type: 'submit', tabindex: 4, value: 'Add' }

%p
  - if secrets.empty?
    There are no secrets yet.
  Among other secrets, there two that are highly desired to add, almost mandatory.
  The
  %span.ff
    GITHUB_TOKEN
  is a personal access token, which you
  %a{href: 'https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens'}
    get
  from GitHub;
  the
  %span.ff
    ZEROCRAT_TOKEN
  is also a personal access token from GitHub, but it must be generated
  by the account that will pretend to be a bot, giving awards to programmers
  (if you don't provide it, we will give you the one of
  %a{href: 'https://github.com/0crat'}<
    @0crat
  ).
  - unless secrets.empty?
    These are your secrets:

- unless secrets.empty?
  %table
    %colgroup
      -# ID
      %col{style: 'width: 3em;'}
      -# Name
      %col{style: 'width: 16em;'}
      -# Key
      %col{style: 'width: 18em;'}
      -# Content
      %col
      -# Created
      %col{style: 'width: 10em;'}
      -# Commands
      %col{style: 'width: 6em;'}
    %thead
      %tr
        %th
          = '#'
        %th
          Name
        %th
          Key
        %th
          Content
        %th
          Created
        %th
    %tbody
    - secrets.each do |s|
      %tr
        %td.ff
          = "##{s[:id]}"
        %td.ff
          - if s[:jobs].zero?
            = s[:name]
            %i.fa-solid.fa-triangle-exclamation.bad{title: 'There is no job by this name, maybe a spelling error?'}
          - else
            %a{href: iri.cut('/jobs').over(name: s[:name])}<
              = s[:name]
        %td.ff
          = s[:key]
        %td.ff
          != secret(s[:value])
        %td
          != ago(s[:created])
        %td
          %a.ico{href: iri.cut('/secrets').append(s[:id]).append('remove'), title: "Remove secret ##{s[:id]}", onclick: "return confirm('Are you sure you want to remove the secret ##{s[:id]}?')"}
            %i.fa-regular.fa-trash-can
