%form{method: 'post', action: iri.cut('/secrets/add')}
  %fieldset
    %input{ type: 'text', name: 'name', tabindex: 1, placeholder: 'Job name', size: 14, maxlength: 32, autofocus: true, required: true }
    %input{ type: 'text', name: 'key', tabindex: 2, placeholder: 'Key', size: 20, maxlength: 64, autofocus: true, required: true }
    %input{ type: 'text', name: 'value', tabindex: 3, placeholder: 'Value', size: 50, autofocus: true, required: true }
    %input{ type: 'submit', tabindex: 4, value: 'Add' }

- if secrets.empty?
  %p
    There are no secrets yet.
- else
  %p
    These are your secrets:
  %table
    %colgroup
      -# ID
      %col{style: 'width: 3em;'}
      -# Name
      %col{style: 'width: 20em;'}
      -# Key
      %col
      -# Content
      %col{style: 'width: 15em;'}
      -# Created
      %col{style: 'width: 10em;'}
      -# Commands
      %col{style: 'width: 6em;'}
    %thead
      %tr
        %th
          ID
        %th
          Name
        %th
          Key
        %th
          Content
        %th
          Created
        %th
    %tbody
    - secrets.each do |s|
      %tr
        %td.ff
          = "##{s['id']}"
        %td.ff
          = s['name']
        %td.ff
          = s['key']
        %td.ff
          = "#{s['value'].size} bytes"
        %td
          != ago(Time.parse(s['created']))
        %td
          %a{href: iri.cut('/secrets').append(s['name']).append(s['key']).append('remove'), title: 'Remove this secret', onclick: "return confirm('Are you sure you want to remove this secret?')"}
            🗑️
