%p
  Steps of
  job
  %a{ href: iri.cut('/jobs').append(job.id) }<
    = "##{job.id}"
  != succeed ':' do
    = "(#{job.name})"

%table
  %colgroup
    -# ID
    %col{ style: 'width: 5em;' }
    -# Swarm
    %col{ style: 'width: 10em;' }
    -# Code
    %col{ style: 'width: 5em;' }
    -# Msec
    %col{ style: 'width: 4em;' }
    -# Version
    %col{ style: 'width: 5em;' }
    -# Stdout
    %col
    -# Created
    %col{ style: 'width: 10em;' }
  %thead
    %tr
      %th
        = '#'
      %th
        Swarm
      %th
        Code
      %th.right
        Msec
      %th
        Version
      %th
        Stdout
      %th
        Created
  %tbody
  - paging(steps, 50, offset:) do |s|
    %tr
      %td
        %a{ href: iri.cut('/invocation').append(s[:id]) }<
          = "##{s[:id]}"
      %td
        %a{ href: iri.cut('/swarms').append(s[:swarm_id]).append('invocations') }<
          = s[:swarm]
      %td.ff
        - if s[:code].zero?
          %i.fa-regular.fa-thumbs-up.good
        - else
          %span.bad
            = s[:code]
          %i.fa-solid.fa-triangle-exclamation.bad
      %td.right.ff
        != msec(s[:msec])
      %td.ff
        = s[:version]
      %td
        != snippet(s[:stdout])
      %td
        != ago(s[:created])
