%form{method: 'post', action: iri.cut('/swarms/add')}
  %fieldset
    %input{ type: 'text', name: 'name', tabindex: 1, placeholder: 'Name', size: 19, maxlength: 32, required: true, autofocus: true }
    %input{ type: 'text', name: 'repository', tabindex: 2, placeholder: 'Repo, e.g zerocracy/swarm-template', size: 36, maxlength: 64, required: true }
    %input{ type: 'text', name: 'branch', tabindex: 3, placeholder: 'Branch. e.g. master', size: 15, size: 20, required: true }
    %input{ type: 'submit', tabindex: 4, value: 'Add' }

%p
  These are all your swarms:
%table
  %colgroup
    -# ID
    %col{style: 'width: 4em;'}
    -# Name
    %col{style: 'width: 14em;'}
    -# Repository
    %col{style: 'width: 14em;'}
    -# Branch
    %col{style: 'width: 14em;'}
    -# Head
    %col{style: 'width: 7em;'}
    -# Created
    %col{style: 'width: 10em;'}
    -# Commands
    %col{style: 'width: 6em;'}
  %thead
    %tr
      %th
        = '#'
      %th
        Name
      %th
        Repository
      %th
        Branch
      %th
        Head
      %th
        Created
      %th
  %tbody
  - paging(swarms, offset:) do |s|
    %tr
      %td.ff
        = "##{s.id}"
      %td.ff
        = s.name
        - if s.exit.nil?
          %i.fa-solid.fa-hourglass-start
        - elsif s.exit.zero?
          %i.fa-regular.fa-thumbs-up.good
        - else
          %a.ico{href: iri.cut('/swarms').append(s.id).append('releases'), title: "Releases of the swarm ##{s.id}"}
            %i.fa-solid.fa-triangle-exclamation.bad{title: 'The latest release was not successful'}
        - why = s.why_not
        - if why.nil?
          %i.fa-regular.fa-envelope.good{title: 'This swarm will be released in a few minutes...'}
        - else
          %i.fa-solid.fa-circle-pause{title: why}
      %td.ff
        %a{href: "https://github.com/#{s.repository}/tree/#{s.branch}"}<
          = s.repository
        %i.fa-brands.fa-github
      %td.ff
        = s.branch
      %td.ff
        %a{href: "https://github.com/#{s.repository}/commit/#{s.head}"}<
          = s.head[0..8]
      %td
        != ago(s.created)
      %td
        %a.ico{href: iri.cut('/swarms').append(s.id).append('releases'), title: "Releases of the swarm ##{s.id}"}
          %i.fa-brands.fa-docker
        - if s.enabled?
          %a.ico{href: iri.cut('/swarms').append(s.id).append('disable'), title: "Disable swarm ##{s.id}", onclick: "return confirm('Are you sure you want to disable the swarm ##{s.id}?')"}
            %i.fa-solid.fa-circle-stop
        - else
          %a.ico{href: iri.cut('/swarms').append(s.id).append('enable'), title: "Enable swarm ##{s.id}", onclick: "return confirm('Are you sure you want to enable the swarm ##{s.id}?')"}
            %i.fa-solid.fa-circle-play
        %a.ico{href: iri.cut('/swarms').append(s.id).append('reset'), title: "Reset the head SHA of the swarm ##{s.id}", onclick: "return confirm('Are you sure you want to reset the head SHA of the swarm ##{s.id}?')"}
          %i.fa-solid.fa-lightbulb
