- empty = tokens.empty?
- if empty
  %p
    In order to make the
    != href('https://github.com/zerocracy/judges-action', 'here')
    plugin work in a GitHub Action workflow, it must have a token,
    which you can create here.

%form{method: 'post', action: iri.cut('/tokens/add')}
  %fieldset
    %input{ type: 'text', name: 'name', tabindex: 1, placeholder: 'Unique token name', size: 40, maxlength: 32, autofocus: true, required: true }
    %input{ type: 'submit', tabindex: 2, value: 'Add' }

- unless empty
  %p
    Full list of tokens:
  %table
    %colgroup
      -# ID
      %col{style: 'width: 4em;'}
      -# Name
      %col
      -# Token
      %col{style: 'width: 26em;'}
      -# Created
      %col{style: 'width: 10em;'}
      -# Jobs
      %col{style: 'width: 4em;'}
      -# Commands
      %col{style: 'width: 6em;'}
    %thead
      %tr
        %th
          = '#'
        %th
          Name
        %th
          Token
        %th
          Created
        %th.right
          Jobs
        %th
    %tbody
    - paging(tokens, offset:) do |t|
      %tr{class: t.active? ? '' : 'gray'}
        %td.ff
          = "##{t.id}"
        %td.ff
          = t.name
        %td.ff
          = t.text
        %td
          != ago(t.created)
        %td.right.ff
          = t.jobs
        %td
          - if t.active? && t.text != Baza::Tokens::TESTER
            - if t.jobs.zero?
              %a.ico{href: iri.cut('/tokens').append(t.id).append('delete'), onclick: "return confirm('Are you sure you want to delete this token?')"}
                %i.fa-regular.fa-trash-can
            - else
              %a.ico{href: iri.cut('/tokens').append(t.id).append('deactivate'), onclick: "return confirm('Once you deactive this token, it will be impossible to activate it back. Are you sure you want to deactivate it?')"}
                %i.fa-solid.fa-ban
          - else
            Inactive
