%p
  These are all trails:
%table
  %colgroup
    -# ID
    %col{style: 'width: 3em;'}
    -# Job
    %col{style: 'width: 4em;'}
    -# Judge
    %col{style: 'width: 14em;'}
    -# Name
    %col{style: 'width: 14em;'}
    -# JSON
    %col
    -# Created
    %col{style: 'width: 10em;'}
  %thead
    %tr
      %th
        = '#'
      %th
        Job
      %th
        Judge
      %th
        Name
      %th
        JSON
      %th
        Created
  %tbody
  - paging(trails, offset:) do |t|
    %tr
      %td.ff
        = "##{t[:id]}"
      %td
        %a{href: iri.cut('/jobs').append(t[:job])}
          = "##{t[:job]}"
      %td.ff
        = t[:judge]
      %td.ff
        = t[:name]
        %i.fa-regular.fa-eye{onclick: "$(this).parent().parent().find('pre').show();", title: 'Click here to see the full JSON', style: 'cursor: pointer;'}
      %td.json
        - if t[:judge] == 'greeting'
          %div.header
            Model:
            %span.ff
              = t[:json]['model']
          %div.header
            Template:
            %span.ff
              = t[:json]['template']
          %div.header
            Prompt:
          %div.body
            != markdown t[:json]['prompt']
          %div.header
            Answer:
          %div.body
            != markdown t[:json]['answer']
        - else
          Unknown
        %pre{style: 'display: none; overflow-x: scroll; width: 50em;'}
          = JSON.pretty_generate(t[:json])
      %td
        != ago(t[:created])

%form{method: 'post', action: iri.cut('/trails/add')}
  %fieldset
    %input{ type: 'text', name: 'job', tabindex: 1, placeholder: 'Job ID', size: 14, required: true }
    %input{ type: 'text', name: 'judge', tabindex: 2, placeholder: 'Judge name', size: 25, maxlength: 64, required: true }
    %input{ type: 'text', name: 'name', tabindex: 3, placeholder: 'e.g., 1.json', size: 20, maxlength: 64, required: true }
    %label
    %textarea{ name: 'json', required: true, tabindex: 4, style: 'width: 100%; height: 9em; font-family: monospace;' }
    %label
    %input{ type: 'submit', tabindex: 5, value: 'Add' }
