- if the_human.admin?
  %form{method: 'post', action: iri.cut('/valve-add')}
    %fieldset
      %input{ type: 'text', name: 'name', tabindex: 1, placeholder: 'Job name', size: 14, maxlength: 32, required: true }
      %input{ type: 'text', name: 'badge', tabindex: 2, placeholder: 'Badge', size: 20, maxlength: 64, required: true }
      %input{ type: 'text', name: 'result', tabindex: 3, placeholder: 'Result', size: 5, required: true }
      %input{ type: 'text', name: 'why', tabindex: 4, placeholder: 'Why', size: 50, required: true }
      %input{ type: 'submit', tabindex: 5, value: 'Add' }

- if valves.empty?
  %p
    There are no valves yet.
- else
  %p
    These are your valves:
  %table
    %colgroup
      -# ID
      %col{style: 'width: 3em;'}
      -# Name
      %col{style: 'width: 14em;'}
      -# Badge
      %col{style: 'width: 18em;'}
      -# Why
      %col
      -# Result
      %col{style: 'width: 10em;'}
      -# Created
      %col{style: 'width: 10em;'}
      -# Commands
      %col{style: 'width: 3em;'}
    %thead
      %tr
        %th
          = '#'
        %th
          Name
        %th
          Badge
        %th
          Why
        %th
          Result
        %th
          Created
        %th
    %tbody
    - total = 0
    - max = 10
    - valves.each(offset: offset) do |s|
      - total += 1
      - break if total > max
      %tr
        %td.ff
          = "##{s[:id]}"
        %td.ff
          = s[:name]
        %td.ff
          = s[:badge]
        %td
          = s[:why]
        %td.ff
          - if s[:result].nil?
            %span.darkred
              NULL
          - elsif s[:result].is_a?(String)
            = s[:result].truncate.inspect
          - elsif s[:result].is_a?(Integer) || s[:result].is_a?(Float)
            = s[:result]
          - else
            %span.gray
              = s[:result].class
        %td
          != ago(s[:created])
        %td
          %a.ico{href: iri.cut('/valves').append(s[:name]).append(s[:badge]).append('remove'), title: 'Remove this valve', onclick: "return confirm('Are you sure you want to remove this valve?')"}
            %i.fa-regular.fa-trash-can
  %p
    - unless offset.zero?
      %a{href: iri.del(:offset)}
        Back
    - if total > max
      %a{href: iri.over(offset: offset + max)}
        More
