.columns
  %p
    Valve ID:
    %br
    %span.ff
      = "##{valve.id}"

  %p
    Valve name:
    %br
    %span.ff
      = valve.name

  %p
    Badge:
    %br
    %span.ff
      = valve.badge

  %p
    Why:
    %br
    %span.ff
      = valve.why

  %p
    Result:
    %br
    %span.ff
      = valve.result
